/* style.css - Custom styles if needed */
html {
    scroll-behavior: smooth;
    margin: 0px 0px;
    padding: 0px 0px;
  }

#pro {
    -webkit-text-stroke: 2px #17082F;

}  
.project-item {
    transition: opacity 0.5s ease;
    z-index: 0;
  }
  
  .progress-bar {
    width: 250px;
    height: 14px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 30px;
  }
  
  .progress-fill {
    height: 100%;
    width: 0%;
    /* background-color: #FF5766; */
    border-radius: 8px;
    transition: width 0.3s ease-in-out;
  }
  